.categories-detail {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.cate-aside {
    padding: 2px;
}

.form-horizontal {
    select {
        padding: 2px;
        border: 1px solid #ccc;
        outline: none
    }
}
.item{
    height: 350px;
    &--price{
        align-items: flex-end;
        
    }
}
.imgCategory{
    height: 300px;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: relative;
    top: -3rem;
    z-index: 1;
}

.cate-content__breacrumb-overlay{
    &--inner{
        position: absolute;
        z-index: 9;
       left: 5rem;
       top: 15rem;
       color: #000;
       font-size: 24px;
       font-weight: bolder;
    }
}
.cate-content__main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.item--price{
    p{
        color: crimson;
    }
}