<div class="mb-5">
    <div class="cate-content__breacrumb-overlay">
        <img *ngIf="categoriesImg && categoriesImg !== null" src="{{ categoriesImg }}" class="imgCategory" />
        <img *ngIf="categoriesImg == null"
            src="https://res.cloudinary.com/asm-ph13269/image/upload/v1654951376/breadcrumb_bg2_rvatam.jpg"
            class="imgCategory" />

        <div class="cate-content__breacrumb-overlay--inner inner">
            {{ cateName | uppercase }}
        </div>
    </div>
    <div class="">
        <div class="cate-content">
            <div class="cate-content__header">
                <div class="" *ngIf="cateSlug == undefined || cateSlug == null">
                    <app-book-cover [data]="allProducts" [cateName]="'all products'"></app-book-cover>
                </div>
                <div class="" *ngIf="cateSlug">
                    <app-book-cover [data]="productsByCate" [cateName]="cateName"></app-book-cover>
                </div>
            </div>
        </div>
    </div>
</div>