<div class="container">
    <p>Từ khóa: {{ keyword | uppercase }}</p>
    <span>Có {{books.length}} kết quả tìm kiếm</span>
    <div class="d-grid container cate-content__main mt-5">
        <div class="item" *ngFor="let item of books">
            <a routerLink="/products/{{item.slug}}"> <img [src]="item.image" [alt]="item.name" width="190" height="263" /></a> 
            <div class="item--price">
            <a routerLink="/products/{{item.slug}}">{{ item.name }}</a> 
                <p>{{ item.cost | currency }}</p>
            </div>
        </div>
        <div class="text-center" *ngIf="books.length == 0">
            <p>No result found</p>
        </div>
    </div>
</div>