
<div id="content">
  <ul class="list-group">
    <li class="list-group-item"><a [routerLink]="'/admin'"><i class="pi pi-th-large px-2"></i>Dashboard</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/users'"><i class="pi pi-users px-2"></i>Users</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/products'"><i class="pi pi-th-large px-2"></i>Products</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/sliders'"><i class="pi pi-users px-2"></i>Sliders</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/categories'"><i class="pi pi-users px-2"></i>categories</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/authors'"><i class="pi pi-users px-2"></i>Authors</a> </li>
    <li class="list-group-item"><a [routerLink]="'/admin/orders'"><i class="pi pi-users px-2"></i>Orders</a> </li>

  </ul>
</div>
