<!-- Content -->
<div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="'/'"><i class="zmdi zmdi-notifications text-danger"></i>
                    </a>
                </li>
                <li><a [routerLink]="'/admin/users'">Users</a></li>
                <li><a [routerLink]="'/admin/products'">Products</a></li>
                <li><a [routerLink]="'/admin/sliders'">sliders</a></li>
                <li><a [routerLink]="'/admin/orders'">Orders</a></li>
                <li><a [routerLink]="'/admin/targets'">Target</a></li>
                <li><a [routerLink]="'/admin/books-type'">Book Type</a></li>
                <li><a [routerLink]="'/admin/book-size'">Book Size</a></li>

            </ul>
        </div>
    </nav>

</div>