<!-- <div class="">
    <p-table [value]="data.products" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            Header
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>

            <tr>
                <td>12</td>
                <td>3</td>
                <td>234</td>
                <td>234</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Footer
        </ng-template>
    </p-table>
</div>  -->