<!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-full">
sdas
    <div>
      <span>Hình ảnh</span>
      <div>
        <img
          src="{{ imageView || '' }}"
          width="200px"
          height="200px"
          style="border-radius: 6px"
        />
      </div>
      <div>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="file.click()"
        >
          Chọn ảnh
        </button>
        <button
          type="button"
          mat-raised-button
          (click)="imageView = ''"
          style="margin-left: 10px"
          *ngIf="imageView != ''"
        >
          Xóa
        </button>
        <input
          type="file"
          hidden
          #file
          (change)="handleChangeImage($event)"
        />
      </div>
    </div>
    <div style="margin-top: 20px">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-success"
        style="margin-right: 15px"
      >
        Lưu lại
      </button>
    </div>
</form> -->
<router-outlet></router-outlet>