<p-toolbar styleClass="mb-4">
  <a [routerLink]="'/admin/products'" class="btn p-button-raised">List products</a>
</p-toolbar>
<p-card>
  <form action="" [formGroup]="AddForm" (ngSubmit)="onsubmit()">
    <p-toast position="top-right"></p-toast>

    <div class="d-flex gap-3">
      <div class="col col-lg-6">
        <div class="mb-4">
          <p-avatar image="{{ dataPro.image }}" size="xlarge"></p-avatar>
          <label for="">Chọn ảnh chính </label>
          <input type="file" name="image" (change)="saveFileThumail($event)" formControlName="image"
            class="form-control" />
        </div>
        <app-validate-mess [field]="AddForm.get('image')"></app-validate-mess>
        <div class="mb-4">
          <p-avatar *ngFor="let i of listImgDetail" size="xlarge" image="{{ i.name }}" class="px-1"></p-avatar>
          <br />
          <label for="">Chọn ảnh chi tiết (chọn nhiều) </label>
          <input type="file" name="image" (change)="saveDetailImg($event)" multiple formControlName="imageMutiple"
            class="form-control" />
        </div>
        <app-validate-mess [field]="AddForm.get('imageMutiple')"></app-validate-mess>

        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="text" [(ngModel)]="dataPro.name" formControlName="name" class="form-control" />
            <label mdbLabel class="form-label" for="name">Name</label>
          </mdb-form-control>
        </div>
        <app-validate-mess [field]="AddForm.get('name')"></app-validate-mess>

        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="number" [(ngModel)]="dataPro.cost" formControlName="cost" class="form-control" />
            <label mdbLabel class="form-label" for="cost">cost</label>
          </mdb-form-control>
        </div>
        <app-validate-mess [field]="AddForm.get('cost')"></app-validate-mess>

        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="number" [(ngModel)]="dataPro.stock" formControlName="stock" class="form-control" />
            <label mdbLabel class="form-label" for="stock">stocks</label>
          </mdb-form-control>
        </div>
        <app-validate-mess [field]="AddForm.get('stocks')"></app-validate-mess>

        <div class="mb-4">
          <div class="form-group">
            <label for="">Choose Category</label>
            <select class="form-select" formControlName="categoryId" [(ngModel)]="cateSelected">
              <option value="{{ item._id }}" *ngFor="let item of categories">
                {{ item.cateName }}
              </option>
            </select>
          </div>
          <app-validate-mess [field]="AddForm.get('categoryId')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <div class="form-group">
            <label for="">Choose Target</label>
            <select class="form-control" (change)="changeTarget($event)" [(ngModel)]="targetSelected"
              [ngModelOptions]="{standalone: true}">
              <option value="{{ item._id }}" *ngFor="let item of targets">
                {{ item.targetName }}
              </option>
            </select>
          </div>
          <app-validate-mess [field]="AddForm.get('targets')"></app-validate-mess>

        </div>
      </div>

      <div class="col col-lg-6">
        <div class="mb-4">
          <div class="form-group">
            <label for="">Choose Book Size</label>
            <select class="form-control" (change)="changeSize($event)" [(ngModel)]="bookSizeSelected"
              [ngModelOptions]="{standalone: true}">
              <option value="{{ item._id }}" *ngFor="let item of bookSizes">
                {{ item.bookSizeName }}
              </option>
            </select>
          </div>
          <app-validate-mess [field]="AddForm.get('bookSizes')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <div class="form-group">
            <label for="">Choose Book Type</label>
            <select class="form-control" (change)="changeType($event)" [(ngModel)]="bookTypesSelected"
              [ngModelOptions]="{standalone: true}">
              <option value="{{ item._id }}" *ngFor="let item of bookTypes">
                {{ item.bookTypeName }}
              </option>
            </select>
          </div>
          <app-validate-mess [field]="AddForm.get('bookTypeId')"></app-validate-mess>

        </div>

        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="text" [(ngModel)]="dataPro.bookWeight" formControlName="bookWeight"
              class="form-control" />
            <label mdbLabel class="form-label" for="bookWeight">bookWeight</label>
          </mdb-form-control>
          <app-validate-mess [field]="AddForm.get('bookWeight')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="text" [(ngModel)]="dataPro.pageNumber" formControlName="pageNumber"
              class="form-control" />
            <label mdbLabel class="form-label" for="pageNumber">pageNumber</label>
          </mdb-form-control>
          <app-validate-mess [field]="AddForm.get('pageNumber')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <div class="form-group">
            <label for="">Choose Author</label>
            <select class="form-control" (change)="changeAuthor($event)" [(ngModel)]="authorSelected"
              [ngModelOptions]="{standalone: true}">
              <option value="{{ item._id }}" *ngFor="let item of authors">
                {{ item.authorName }}
              </option>
            </select>
            <app-validate-mess [field]="AddForm.get('authorId')"></app-validate-mess>

          </div>
        </div>



        <div class="mb-4">
          <p-editor formControlName="desc" [(ngModel)]="dataPro.desc" [style]="{ height: '230px' }"></p-editor>
        </div>
        <app-validate-mess [field]="AddForm.get('desc')"></app-validate-mess>

        <div class="d-flex justify-content-between">
          <button class="btn btn-primary btn-sm" >Submit</button>
          <a [routerLink]="'/admin/products'" class="btn btn-info btn-sm">Back to list</a>
        </div>
      </div>
    </div>
  </form>
</p-card>