<div class="cart_page container">
  <p-orderList [value]="carts" filterBy="name" filterPlaceholder="tìm sản phẩm theo tên" [dragdrop]="true">
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="image-container">
          <img src="{{ product.image }}" [alt]="product.name" width="" class="product-image" />
        </div>
        <div class="product-list-detail">
          <h5 class="mb-2">{{ product.name }}</h5>
          <div class="form-outline d-flex">
            <input type="number" min="1" class="form-control cart-value mt-3" value="{{ product.quantity }}"
              style="height: 30px;" />
           <button class="btn btn-light" style="height: 33px;margin-top: 15px;margin-left: 10px;" (click)="removeCartItem(product._id)">Xóa</button>
          </div>
          <p>Giá gốc : {{ product.cost | currency }}</p>
        </div>
        <div class="product-list-action">
          <h6 class="mb-2">{{ product.price | currency: "VND" }}</h6>
        </div>
      </div>
    </ng-template>
  
  </p-orderList>

  <div class="cart-total-price">
    <ul class="list-group cart__order">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Tổng tiền
        <span class="rounded-pill">{{cartItemValues | currency}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Giảm giá
        <span class="rounded-pill"> 0 đ</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center list__total">
        Thành tiền
        <span class="rounded-pill">{{cartItemValues | currency}}</span>
      </li>
    </ul>
    <button class="btn btn-primary mt-3 w-100">Thanh toán</button>
    <a [routerLink]="'/'" class="btn p-button-raised mt-3 w-100 back_btn">Tiếp tục mua hàng</a>
  </div>
</div>