/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

// .p-inputtext{
//     padding : 0.3rem !important;
//     padding-right: 20.5rem !important;
//   }
// .p-input-icon-right > .p-inputtext {
//     padding-right: 20.5rem !important;
// }

.p-inputtext {
  padding: -31.25rem 0.75rem !important;
}
.p-menubar {
  // background-color:rgb(169, 23, 29) !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  border-radius: 0 !important;
}
.pi-angle-down:before {
  content: none !important;
}
.dropdown-toggle::after {
  content: none !important;
}
.btn {
  border-radius: none !important;
}

.p-scrolltop.p-link {
  background: #3b82f6 !important;
}
.p-card .p-card-title {
  font-size: .8rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.5rem !important;  
}
.p-card .p-card-title {
  height: 2.5rem;
  font-size: .8rem !important;
  text-transform: capitalize;

}
.p-card .p-card-subtitle {
  color: #ad0c0c !important;
  margin-bottom: 0.1rem !important;
}
.container-fluid{
  width: 100%;
}