.order__page{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 50px;
   
}

.card_products{
    display: grid;
    grid-template-columns: .5fr 1.5fr .5fr;
    align-items: stretch;
    margin: 5px 0px;
}

