<div class="content__auth">
  <div class="auth__form">
    <div class="auth__form--item">
      <h1>FORM REGISTER</h1>
      <form action="" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <p-toast position="top-right"></p-toast>

        <input type="hidden" name="csrftoken"
              value="ea49375f43c7e6a59c77df1e4de562b3f1350124eeb70e5d5124e4ce3b5251c2b4d12e9aaf2a3ddc618c178c8dc4620b">

              
        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="email" formControlName="email" class="form-control" />
            <label mdbLabel class="form-label" for="email">Email Address</label>
          </mdb-form-control>
          <app-validate-mess [field]="authForm.get('email')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="text" class="form-control" formControlName="username" />
            <label mdbLabel class="form-label" for="username">User Name</label>
          </mdb-form-control>
          <app-validate-mess [field]="authForm.get('username')"></app-validate-mess>

        </div>
        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="password" class="form-control" formControlName="password" />
            <label mdbLabel for="password" class="form-label">Password</label>
          </mdb-form-control>
          <app-validate-mess [field]="authForm.get('password')"></app-validate-mess>

        </div>

        <div class="mb-4">
          <mdb-form-control>
            <input mdbInput type="text" class="form-control" formControlName="phoneNumber" />
            <label mdbLabel class="form-label" for="phoneNumber">Phone Number</label>
          </mdb-form-control>
          <app-validate-mess [field]="authForm.get('phoneNumber')"></app-validate-mess>

        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary btn-sm" [disabled]="!authForm.valid">
            Submit
          </button>
          <div class="text-auth">
            <a [routerLink]="'/login'" class="text-primary">Login now</a>
          </div>
        </div>
        <div class="auth__form--item__social">
          <p class="text-muted my-3">Or Register With</p>
          <div class="auth__form--item__social--icon">
            <a  className="btn cursor-pointer" (click)="googleLogin()">
              <i class="fa-brands fa-google"></i>
            </a>
            <a href="#" className="btn"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" className="btn"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>